.element__vector_active:active{
    background-image: url(../../../../images/Union.svg);
    cursor:pointer;
    background-repeat: no-repeat;
}
.element__vector_active:focus{
    background-image: url(../../../../images/Union.svg);
    
}