.element__vector {
    border: none;
    background-color: transparent;
    padding: 0;
    background-image: url(../../../images/Grouplike.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 22px;
    height: 19px;
}
.element__vector:hover{
    opacity: 0.5;
    cursor:pointer;
}
