.profile__edit_btn {
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    color: black;
    background-image: url(/images/Vector01.png);
    background-repeat: no-repeat;
    background-color: black;
    padding: 0;
    background-position: center;
}
.profile__edit_btn:hover{
    opacity: 0.6;
    cursor: pointer;
    transition: 1.2s;
}