.text__img{
    font-family: 'Inter',"Arial ", sans-serif;
    font-style: normal;
    position: absolute;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: white;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
}